In [15]:
x=10
y=20

def swap(x,y):
    temp=x
    x=y
    y=temp
print("Before function",x,y)
swap(x,y)
print("After function",x,y)

Before function 10 20
After function 10 20

In [13]:
x = 10
y = 20
print("Before swap:", x, y)
temp = x
x = y
y = temp
print("After swap:", x, y)

Before swap: 10 20
After swap: 20 10

In [17]:
# first class Functions
# A funtion is an instance of the object type
# You can store the function in a variable
# You can pass the function as a parameter to another function.
# You can return the function from a function.
# You can store them in data structures such as hash tables,list

In [35]:
def func():
    print("hello")

out=func
mylist=[0,func]
print(mylist[1]())

hello
None

In [53]:
def anagram(s, t):
    if len(s) != len(t):
        return False
    s = sorted(s)
    t = sorted(t)
    return s == t

check = anagram
s = "anagram"
t = "nagaram"
print(check(s, t))

True

In [ ]:
# if we can pass a function as a argument to another function
# high order functions
# all high order functions are first class functions

In [11]:
def func(a,b):
    print(a+b)
def add(x,y):
    print(x,y)
add(40,func(10,20))

30
40 None

In [19]:
def func(a,b):
    print(a+b)
    
def add(x,y):
    print(x,y(10,20))
    
add(40,func)

30
40 None

In [31]:
def square(x):
    print(x**2)
    
def cube(n,func):
    
    print(n, func)
cube(4,square(10))

100
4 None

In [33]:
# lambda functions
# lambda => annoymous functions
# same as normal

In [39]:
def func(x,y):
    return x+y

print(func)

<function func at 0x000001E00D7872E0>

In [43]:
func = lambda x,y: x+y
func(1,11)

12

In [59]:
def cube(x):
    out=lambda x: x**2
    print("lambda value",x*out(x))
cube(4)

lambda value 64

In [71]:
mydict={}
k=50
for x in enumerate([10,20,30]):
    value,key=x
    print(key)

    if key not in mydict:
        mydict[key]=value
print(mydict)

for value,key in enumerate([10,20,30]):
    if k-key in mydict:
        print(value,mydict[k-key])
        break

10
20
30
{10: 0, 20: 1, 30: 2}
1 2

In [7]:
buy=0
sell=1
maxi=0
mylist=[7,1,5,3,6,4]
no_days=len(mylist)

while(sell<no_days):
    if(mylist[sell]>mylist[buy]):
        profit_margin=mylist[sell]-mylist[buy]
        maxi=max(maxi, profit_margin)
    else:
        buy=sell
    sell+=1
    
print(maxi)

5

In [3]:
# map =>fix memory allocate
mylist=[10,20,30]
def square(num):
    return num**2
out = map(square,mylist)
next(out)

100

In [27]:
list(filter(lambda num: num%3==0,mylist))

[30]

In [23]:
# map is like a generator which compute the value ask for it
mylist=[10,20,30]
def square(num):
    return num**2
list(map(lambda num: num**2,mylist))

[100, 400, 900]

[10, 20, 30]

In [29]:
# Exceptional handling
# handling te error => terminate

In [41]:
try:
    print(10)
    print("num123",123)
    "hey"+30
except (NameError,TypeError) as e:
    print("Error ocured",e)

except Exception as e:
    print("All Error occured",e)

10
num123 123
Error ocured can only concatenate str (not "int") to str

In [43]:
try:
    print(10)
    print("num123",123)
    "hey"+30
    
except (NameError,TypeError) as e:
    print("Error ocured",e)

finally:
    print("hey")

10
num123 123
Error ocured can only concatenate str (not "int") to str
hey

In [65]:
# list is on the top

In [84]:
nums=[-2,0,1,3]
def threeSumSmaller(nums, target):
    count = 0
    for i in range(len(nums) - 2):
        left, right = i + 1, len(nums) - 1
        while left < right:
            total = nums[i] + nums[left] + nums[right]
            if total < target:
                count += right - left
                left += 1
            else:
                right -= 1
    return count