In [ ]:
import pandas as pd

In [ ]:
# Question 1: Create a DataFrame
data = {'Name': ['Pranav', 'Chirag', 'Vaibhav'], 'Age': [24, 27, 22], 'City': ['Jaipur', 'Mumbai', 'Delhi']}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Question 2: Add a Column
df['Salary'] = [48000, 52000, 47000]
print(df)

In [ ]:
# Question 3: Filter Rows
filtered_df = df[df['Age'] > 23]
print(filtered_df)

In [ ]:
# Question 4: Calculate Mean
mean_age = df['Age'].mean()
print(mean_age)

In [ ]:
# Question 5: Group By and Aggregate
grouped = df.groupby('City')['Salary'].mean()
print(grouped)

In [ ]:
# Question 6: Add a Derived Column
df['Tax'] = df.apply(lambda row: 0.1 * row['Salary'] if row['Age'] > 25 else 0.05 * row['Salary'], axis=1)
print(df)

In [ ]:
# Question 7: Replace Values
df['City'] = df['City'].replace('Delhi', 'New Delhi')
print(df)

In [ ]:
# Question 8: Sort by Multiple Columns
sorted_df = df.sort_values(by=['Salary', 'Age'], ascending=[False, True])
print(sorted_df)

In [ ]:
# Question 9: Pivot Table
pivot_table = df.pivot_table(values='Salary', index='City', aggfunc='sum')
print(pivot_table)

In [ ]:
# Question 10: Handle Missing Values
df['Bonus'] = [5000, None, 3000]
df['Bonus'] = df['Bonus'].fillna(df['Bonus'].mean())
print(df)