In [1]:
# Q-1 Load the Dataset
import pandas as pd

In [4]:
df=pd.read_csv("//content//sales_data (1).csv")

In [5]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,101,USB-C Cable,2,11.95,2023-01-05 08:00,"123 Main St, San Francisco, CA"
1,102,USB-C Cable,3,11.95,2023-01-12 14:30,"456 Maple Ave, New York, NY"
2,103,Wired Mouse,1,14.95,2023-02-01 10:45,"789 Oak St, Los Angeles, CA"
3,104,AA Batteries (4-pack),2,3.84,2023-02-08 16:20,"321 Elm St, Chicago, IL"
4,105,USB-C Cable,1,11.95,2023-03-15 12:00,"654 Pine Rd, San Francisco, CA"

In [15]:
# Q2: Display the total number of missing values in the dataset
print(df.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Total Price         0
Month               0
City                0
dtype: int64

In [16]:
# Q3: Display the dataset's shape before and after removing missing values

print("Shape before removing missing values:", df.shape)

Shape before removing missing values: (7, 9)

In [17]:
# Q4: Remove rows with missing values (NaN) and verify

df = df.dropna()

print(df.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Total Price         0
Month               0
City                0
dtype: int64

In [9]:
# Q5: Add a Total Price column
df['Total Price'] = df['Quantity Ordered'] * df['Price Each']
print(df.head())

   Order ID                Product  Quantity Ordered  Price Each  \
0       101            USB-C Cable                 2       11.95
1       102            USB-C Cable                 3       11.95
2       103            Wired Mouse                 1       14.95
3       104  AA Batteries (4-pack)                 2        3.84
4       105            USB-C Cable                 1       11.95

         Order Date                Purchase Address  Total Price
0  2023-01-05 08:00  123 Main St, San Francisco, CA        23.90
1  2023-01-12 14:30     456 Maple Ave, New York, NY        35.85
2  2023-02-01 10:45     789 Oak St, Los Angeles, CA        14.95
3  2023-02-08 16:20         321 Elm St, Chicago, IL         7.68
4  2023-03-15 12:00  654 Pine Rd, San Francisco, CA        11.95

In [10]:
# Q6: Find the most purchased product
most_purchased = df.groupby('Product')['Quantity Ordered'].sum().idxmax()
print("Most Purchased Product:", most_purchased)

Most Purchased Product: USB-C Cable

In [11]:
# Q7: Add a Month column
df['Order Date'] = pd.to_datetime(df['Order Date'])

df['Month'] = df['Order Date'].dt.month

print(df.head())

   Order ID                Product  Quantity Ordered  Price Each  \
0       101            USB-C Cable                 2       11.95
1       102            USB-C Cable                 3       11.95
2       103            Wired Mouse                 1       14.95
3       104  AA Batteries (4-pack)                 2        3.84
4       105            USB-C Cable                 1       11.95

           Order Date                Purchase Address  Total Price  Month
0 2023-01-05 08:00:00  123 Main St, San Francisco, CA        23.90      1
1 2023-01-12 14:30:00     456 Maple Ave, New York, NY        35.85      1
2 2023-02-01 10:45:00     789 Oak St, Los Angeles, CA        14.95      2
3 2023-02-08 16:20:00         321 Elm St, Chicago, IL         7.68      2
4 2023-03-15 12:00:00  654 Pine Rd, San Francisco, CA        11.95      3

In [12]:
# Q8: Determine the month with the highest sales
highest_sales_month = df.groupby('Month')['Total Price'].sum().idxmax()

print("Month with Highest Sales:", highest_sales_month)

Month with Highest Sales: 3

In [13]:
# Q9: Add a City column
df['City'] = df['Purchase Address'].apply(lambda x: x.split(',')[1].strip())

print(df.head())

   Order ID                Product  Quantity Ordered  Price Each  \
0       101            USB-C Cable                 2       11.95
1       102            USB-C Cable                 3       11.95
2       103            Wired Mouse                 1       14.95
3       104  AA Batteries (4-pack)                 2        3.84
4       105            USB-C Cable                 1       11.95

           Order Date                Purchase Address  Total Price  Month  \
0 2023-01-05 08:00:00  123 Main St, San Francisco, CA        23.90      1
1 2023-01-12 14:30:00     456 Maple Ave, New York, NY        35.85      1
2 2023-02-01 10:45:00     789 Oak St, Los Angeles, CA        14.95      2
3 2023-02-08 16:20:00         321 Elm St, Chicago, IL         7.68      2
4 2023-03-15 12:00:00  654 Pine Rd, San Francisco, CA        11.95      3

            City
0  San Francisco
1       New York
2    Los Angeles
3        Chicago
4  San Francisco

In [14]:
# Q10: Find the most common city for orders
most_common_city = df['City'].mode()[0]

print("Most Common City for Orders:", most_common_city)

Most Common City for Orders: New York