In [ ]:
import pandas as pd

# Question 1: Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
df

In [ ]:
# Question 2: Add a new column
df['Salary'] = [70000, 80000, 120000]
df

In [ ]:
# Question 3: Filter rows based on condition
filtered_df = df[df['Age'] > 30]
filtered_df

In [ ]:
# Question 4: Calculate the mean of a column
mean_age = df['Age'].mean()
mean_age

In [ ]:
# Question 5: Sort the DataFrame by a column
sorted_df = df.sort_values(by='Salary', ascending=False)
sorted_df

In [ ]:
# Question 6: Group by and calculate the sum of Salary by City
grouped_df = df.groupby('City')['Salary'].sum()
grouped_df

In [ ]:
# Question 7: Drop a column
df_dropped = df.drop(columns=['City'])
df_dropped

In [ ]:
# Question 8: Rename a column
df_renamed = df.rename(columns={'Salary': 'Annual Salary'})
df_renamed

In [ ]:
# Question 9: Save DataFrame to CSV
df.to_csv('simple_pandas.csv', index=False)

In [ ]:
# Question 10: Read the saved CSV file
read_df = pd.read_csv('simple_pandas.csv')
read_df