In [ ]:
# K Maximum

mylist = [5,7,85,32,74,5,7,53,32,5,7,4,8,4]
unique_list = []

for i in mylist:
    if i not in unique_list:
        unique_list.append(i)

left = 0
right = len(unique_list) - 1

while left < right:
    if unique_list[left] < unique_list[right]:
        unique_list[left], unique_list[right] = unique_list[right], unique_list[left]
    right -= 1
    if left >= right:
        left += 1
        right = len(unique_list) - 1

print(unique_list)
k = int(input("Enter the value of k :"))

if k<=len(unique_list):
    print(f"{k} maxinum : {unique_list[k-1]}")
else:
    print("List index out of range! Please Give the right index.")

[85, 74, 53, 32, 8, 7, 5, 4]
Enter the value of k :7
7 maxinum : 5

In [ ]:
# Int To Roman

def intToRoman(num):
        roman_numerals = [
                ("M", 1000),("CM", 900),("D", 500),("CD", 400),
                ("C", 100),("XC", 90),("L", 50),("XL", 40),
                ("X", 10),("IX", 9),("V", 5),("IV", 4),("I", 1)]
        res = []
        for symbol,value in roman_numerals:
            if num==0:
                break
            count = num//value
            res.append(symbol*count)
            num-= count*value
        return "".join(res)
print(intToRoman(3749))

MMMDCCXLIX

In [ ]:
# Roman To Int

def romanToInt(s):
        dict={"I":1,"V":5,"X":10,"L":50,"C":100,"D":500,"M":1000}
        prev=0
        total=0
        for i in range(len(s)):
            current = dict[s[i]]
            if current > prev:
                total+=current - 2* prev
                prev = current
            else:
                total+=current
                prev=current
        return total

print(romanToInt("XLI"))

41

In [ ]:
str1="Python is great and Python is fun"
l1=str1.split()
dict1={}
for i in l1:
  if i in dict1:
    dict1[i]+=1
  else:
    dict1[i]=1
print(dict1)

{'Python': 2, 'is': 2, 'great': 1, 'and': 1, 'fun': 1}

In [ ]:
# prime

def find_prime_factor(n):
  prime=[]
  for i in range(2,n+1):
    while n%i==0:
      if  not  prime:
        prime.append(i)
      n//=i
  return prime
print(find_prime_factor(56))

[2]

In [ ]:
def find_prime_factor(n):
    prime = set()
    for i in range(2, n + 1):
        while n % i == 0:
            prime.add(i)
            n //= i
    return list[prime]

print(find_prime_factor(56))

list[{2, 7}]

In [ ]:
newlist=[]
for i in range(1,10):
  newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[ i for i in range(1,10)]  # list comprehension

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
{i:1 for i in range(1,10)}   # dict comprehension

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [ ]:
{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Set - > unordered unindexed , and mutable datatype
#  collection of unique elements

In [ ]:
# How to create a empty set ?
s = set()
print(type(s))

<class 'set'>

In [ ]:
set1={1,2,3,4}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [ ]:
myset = {10,20,20,30,40}
print(myset)

{40, 10, 20, 30}

In [ ]:
myset.add(50)
print(myset)

{40, 10, 50, 20, 30}

In [ ]:
myset.update({100,200})
print(myset)

{100, 40, 200, 10, 50, 20, 30}

In [ ]:
myset.pop()

100

In [ ]:
myset.remove(20)
print(myset)

{40, 200, 10, 50, 30}

In [ ]:
# myset.discard(20)  not give error if value is not present
print(myset)

{40, 200, 10, 50, 30}

In [ ]:
myset1={10,20,30,40,50,60}
myset2={40,50,60}
myset1.union(myset2)

{10, 20, 30, 40, 50, 60}

In [ ]:
myset1.difference(myset2)

{10, 20, 30}

In [ ]:
myset1.intersection(myset2)

{40, 50, 60}

In [ ]:
myset1.issubset(myset2)

False

In [ ]:
myset1.issuperset(myset2)

True

In [ ]:
# o to 256 cashe memory

In [ ]:
x = 257
a = 257   # if 256 se aage vale ka memory address different
print(id(x),id(a))

139880797879984 139880797869712

In [ ]:
x = 256
a = 256
print(id(x),id(a))

10759016 10759016

In [ ]:
# python me call by object refence use hota h

In [ ]:
# Function
#  collection of statement and block of code
# use it multiple time
# code reusability

In [ ]:
def func():
  print("Hii")
func()

Hii

In [ ]:
def func():
  x1=10
  print("Hii",x1)
func()

Hii 10

In [ ]:
# Global variable me kuch change hua vo function ke bahar humesha change hoge

In [ ]:
y=20
def func():
  x1=10
  y=500
  print("Hii",x1,y)

func()
print('outside function => ', y)

Hii 10 500
outside function =>  20

In [ ]:
# global varible me local change hua vo local show hoga global nhi

In [ ]:
y=20
def func():
  global y
  x1=10
  y=500
  print("Hii",x1,y)

In [ ]:
func()
print('outside function => ', y)

Hii 10 500
outside function =>  500

In [ ]:
def func(z):
  print("Hey Gaurav",z)

func(20)
func('Ujjwal')

Hey Gaurav 20
Hey Gaurav Ujjwal

In [ ]:
# type hinting
def func(z:int):
  print("Hey Gaurav",z)

func(20)
func('Yash')

Hey Gaurav 20
Hey Gaurav Yash

In [ ]:
def func(z:int,k:str):   # parameter
  print("Hey Gaurav",z,k)

func(20,'raj')   # argument

Hey Gaurav 20 raj