In [1]:
m="jaipur"
m[1:6:2]

'apr'

In [13]:
m="hey tushar"
m[-4:-2]

'sh'

In [23]:
mylist=[10,20,4,5,21,68]
for index in range(0,6):
    if mylist[index] % 2 == 0:
        print(index,mylist[index])

0 10
1 20
2 4
5 68

In [25]:
mylist = [10, 'hello', 4, 5.5, 21, 68, 'world']

for element in mylist:
    if type(element) is type(1): 
        print(element, element * element)

10 100
4 16
21 441
68 4624

In [29]:
x = 11
mylist = [10, 20, 11, 30, 40]
print(x in mylist)

True

In [31]:
x = 11
mylist = [10, 11, 20, 11, 30, 40]

if x in mylist and mylist.count(x) == 2:
    print(True)
else:
    print(False)

True

In [33]:
x = 11
mylist = [10, 11, 20, 11, 30, 40]
if x in mylist and mylist.count(x) == 2:
    print(True)
else:
    print(False)

True

In [35]:
elements = [1, 2, 3, 4, 2, 5, 3, 6, 1, 7, 10, 10]

duplicates = []
for element in elements:
    if elements.count(element) > 1 and element not in duplicates:
        duplicates.append(element)

for duplicate in duplicates:
    count = elements.count(duplicate)
    for _ in range(count):
        print(duplicate)

1
1
2
2
3
3
10
10

In [21]:
# program
# to find the second maximum of the list
numbers = [10,20,4,19,8]

max = 0
sec = 0

for i in numbers:
    if i > max:
        sec = max
        max = i
    elif i > sec:
        sec = i
        
print("The second maximum number is:", sec)

The second maximum number is: 19

In [29]:
# creating the array
mylist = [4, 5, 5, 5, 3,3,3, 8]
size = len(mylist)
for i in range(size - 2):
	if mylist[i] == mylist[i + 1] and mylist[i + 1] == mylist[i + 2]:
		print(mylist[i])

5
3

In [31]:
data = "[{(1, 2, 3)}]"
print(data)

[{(1, 2, 3)}]

In [33]:
data = "[{(1, -2, 'hello', 3.5, -4.5)}]"
print(data)

[{(1, -2, 'hello', 3.5, -4.5)}]

In [1]:
rows = 5
triangle = []

for i in range(rows):
    row = [1] * (i + 1)
    for j in range(1, i):
        row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    triangle.append(row)

print(triangle)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [9]:
mylist=[[1]]
n=5
for i in range(0,n-1):
    temp=[0]+mylist[-1]+[0]
    list1=[]

    for j in range(len(mylist)+1):
        list1.append(temp[j]+temp[j+1])
    mylist.append(list1)
print(mylist)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [13]:
n = 5  
mylist = []

for i in range(n):
    row = [] 
    for j in range(i + 1):  
        if j == 0 or j == i:
            row.append(1)  
        else:
            row.append(mylist[i - 1][j - 1] + mylist[i - 1][j])  
    mylist.append(row)  
print(mylist)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [19]:
n = 5 
for i in range(n):
    print(" " * (n - i - 1), end="")
    value = 1  
    for j in range(i + 1):
        print(value, end=" ")  
        value = value * (i - j) // (j + 1)  
    print()

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1